$font-stack: Oswald, sans-serif;
$font-colour: #eee;

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

.nav {
  position: absolute;
  z-index: 10;
  left: -1000px;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

h1 {
  position: absolute;
  width: 100%;
	color: #eee;
  font-size: 42px;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 2px epx #999;
  font-family: $font-stack;
  text-align: center;
}

h2 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: $font-stack;
  text-align: center;
}

.hero {
  width: 500px;
  height: 500px;
  background-image: url(/assets/flyingoctopus.svg);
}

#resume {
  h1 {
  }

  h2 {
  }

  h3 {
  }
}
