@import "~basscss/src/basscss.css";

$break-large: 840px;
$break-small: 414px;
$logo-size-small: 250px;
$logo-size: 500px;
$font-stack: Oswald, sans-serif;
$font-colour: #eee;

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

.nav {
  position: absolute;
  z-index: 10;
  /*left: -1000px;*/
}

@media only screen and (min-width: $break-large) {
    #video-background {
        display: block;
        /*background-image: url("/assets/splash.jpg");*/
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        z-index:-1;
    }
}

article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

h1 {
  position: absolute;
  width: 100%;
	color: #eee;
  font-size: 42px;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 2px epx #999;
  font-family: $font-stack;
  text-align: center;
}

h2 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: $font-stack;
  text-align: center;
}

#hero {
  width:100%;
  max-height:468px;

  #hero-content {
		position: relative;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-ms-box-orient: vertical;
		box-orient: vertical;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-ms-box-pack: center;
		box-pack: center;
		height: 100%;
	}

  #logo-as-bg {
    position:relative;
    margin: 0 auto;
		text-align:center;
    width: $logo-size;
    height: $logo-size;
    background: white;
    -webkit-mask: url('/assets/flyingoctopus.svg') center / contain no-repeat;

    @media screen and (max-width: $break-small) {
      width: $logo-size-small;
      height: $logo-size-small;
    }
  }

  .logo_path {
    position:relative;
    margin: 0 auto;
		text-align:center;
    width: $logo-size;
    height: $logo-size;
    background: white;
    /*-webkit-mask: url('/assets/flyingoctopus.svg') center / contain no-repeat;*/

    @media screen and (max-width: $break-small) {
      width: $logo-size-small;
      height: $logo-size-small;
    }
  }

}
footer {
  position: absolute;
  z-index:99;
  left: 50px;
  right: 0;
  bottom: 5em;
}

#resume {
  h1 {
  }

  h2 {
  }

  h3 {
  }
}
